//    Font Family

$primary-font: 'Poppins', sans-serif;
$text-font: 'Roboto', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color: #54924a;
$primary-color2: #111213e8;
$title-color: #222222;
$text-color: #777777;

$white: #fff;
$offwhite: #f9f9ff;
$black: #000;
